nodered-flows/fr3.json
[
    {
        "id": "71257af2e87ac99e",
        "type": "tab",
        "label": "FR3 - Add a sight to my wishlist",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6a7c512bce16926",
        "type": "comment",
        "z": "71257af2e87ac99e",
        "name": "FR3 - Add a sight to my wishlist",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "59785d21e520e289",
        "type": "http in",
        "z": "71257af2e87ac99e",
        "name": "",
        "url": "/user/:userid/sight/:sightid",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "1169fdeaebac4d61",
                "3324885eb4bd91bd"
            ]
        ]
    },
    {
        "id": "1e49546efed2dd3a",
        "type": "http response",
        "z": "71257af2e87ac99e",
        "name": "add sight to wishlist",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "3fcc6f92464068db",
        "type": "inject",
        "z": "71257af2e87ac99e",
        "name": "addSight",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Stavros Niarchos\",\"fromDate\":[2022,7,1],\"toDate\":[2022,7,3]}",
        "payloadType": "json",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "7726fd52af7e2f2b"
            ]
        ]
    },
    {
        "id": "7726fd52af7e2f2b",
        "type": "http request",
        "z": "71257af2e87ac99e",
        "name": "add new sight",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "localhost:1880/user/5d3ba6cf-740e-404f-8301-22ee55830610/sight/4598",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "01939f0334ede699"
            ]
        ]
    },
    {
        "id": "1169fdeaebac4d61",
        "type": "debug",
        "z": "71257af2e87ac99e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "01939f0334ede699",
        "type": "debug",
        "z": "71257af2e87ac99e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "3324885eb4bd91bd",
        "type": "function",
        "z": "71257af2e87ac99e",
        "name": "Status code",
        "func": "msg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "6bdf4ee192d85303"
            ]
        ]
    },
    {
        "id": "6bdf4ee192d85303",
        "type": "change",
        "z": "71257af2e87ac99e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"access-control-allow-credentials\":true,\"access-control-allow-headers\":\"X-Requested-With,Content-Type,Accept,Origin\",\"access-control-allow-methods\":\"*\",\"access-control-allow-origin\":\"*\",\"cache-control\":\"no-cache\",\"content-encoding\":\"gzip\",\"content-length\":20,\"content-type\":\"application/json;charset=utf-8\",\"date\":\"Fri,03 Jun 2022 18:00:25 GMT\",\"etag\":\"W/\\\"14-4DhJ6nhrn3soo1wXlJ6FqT6xz/E\\\"\",\"expires\":-1,\"status\":\"200 OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "1e49546efed2dd3a"
            ]
        ]
    }
]