nodered-flows/fr3.json
[
    {
        "id": "71257af2e87ac99e",
        "type": "tab",
        "label": "FR3 - Add a sight to my wishlist",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6a7c512bce16926",
        "type": "comment",
        "z": "71257af2e87ac99e",
        "name": "FR3 - Add a sight to my wishlist",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "59785d21e520e289",
        "type": "http in",
        "z": "71257af2e87ac99e",
        "name": "",
        "url": "/user/:userid/sight",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "1169fdeaebac4d61",
                "3324885eb4bd91bd"
            ]
        ]
    },
    {
        "id": "1e49546efed2dd3a",
        "type": "http response",
        "z": "71257af2e87ac99e",
        "name": "add sight to wishlist",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "3fcc6f92464068db",
        "type": "inject",
        "z": "71257af2e87ac99e",
        "name": "Add new sight",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Stavros Niarchos\",\"sightid\":1234698,\"fromDate\":[2022,7,1],\"toDate\":[2022,7,3]}",
        "payloadType": "json",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "7726fd52af7e2f2b"
            ]
        ]
    },
    {
        "id": "7726fd52af7e2f2b",
        "type": "http request",
        "z": "71257af2e87ac99e",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "localhost:1880/user/123456/sight",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 430,
        "y": 320,
        "wires": [
            [
                "01939f0334ede699"
            ]
        ]
    },
    {
        "id": "1169fdeaebac4d61",
        "type": "debug",
        "z": "71257af2e87ac99e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "01939f0334ede699",
        "type": "debug",
        "z": "71257af2e87ac99e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "3324885eb4bd91bd",
        "type": "function",
        "z": "71257af2e87ac99e",
        "name": "",
        "func": "msg.req.statusCode = 200;\nmsg.payload = msg.req.params.userid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "1e49546efed2dd3a"
            ]
        ]
    }
]