nodered-flows/fr4.json
[
    {
        "id": "670cb2aea0965ff6",
        "type": "tab",
        "label": "FR4 - Delete  sight from my wishlist",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b3484f511191c56d",
        "type": "comment",
        "z": "670cb2aea0965ff6",
        "name": "FR4 - Delete  sight from my wishlist",
        "info": "",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "0c3ba75d700787a8",
        "type": "http in",
        "z": "670cb2aea0965ff6",
        "name": "",
        "url": "/user/:userid/sight/:sightid",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "12a5da62125b5d57",
                "b688257956289541"
            ]
        ]
    },
    {
        "id": "b688257956289541",
        "type": "debug",
        "z": "670cb2aea0965ff6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "12a5da62125b5d57",
        "type": "function",
        "z": "670cb2aea0965ff6",
        "name": "Set payload",
        "func": "msg.req.statusCode = 200;\nmsg.payload = {\n    \"id\": msg.req.params.userid,\n    \"sight-id\": msg.req.params.sightid\n} \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "eb31860ec0152127"
            ]
        ]
    },
    {
        "id": "0f1b0163f69e6be9",
        "type": "http response",
        "z": "670cb2aea0965ff6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "cbb91ca2a83168d0",
        "type": "inject",
        "z": "670cb2aea0965ff6",
        "name": "deleteSight",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "5281f54ac14dfa44"
            ]
        ]
    },
    {
        "id": "5281f54ac14dfa44",
        "type": "http request",
        "z": "670cb2aea0965ff6",
        "name": "delete sight",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:1880/user/5d3ba6cf-740e-404f-8301-22ee55830610/sight/4598",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "94c5731a2da1ddd1"
            ]
        ]
    },
    {
        "id": "94c5731a2da1ddd1",
        "type": "debug",
        "z": "670cb2aea0965ff6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "eb31860ec0152127",
        "type": "change",
        "z": "670cb2aea0965ff6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"access-control-allow-credentials\":true,\"access-control-allow-headers\":\"X-Requested-With,Content-Type,Accept,Origin\",\"access-control-allow-methods\":\"*\",\"access-control-allow-origin\":\"*\",\"cache-control\":\"no-cache\",\"content-encoding\":\"gzip\",\"content-length\":24,\"content-type\":\"application/json;charset=utf-8\",\"date\":\"Fri,03 Jun 2022 18:07:12 GMT\",\"etag\":\"W/\\\"18-75CQH/5S+GSVjQZ7v4lQdeZ7cQQ\\\"\",\"expires\":-1,\"status\":\"200 OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "0f1b0163f69e6be9"
            ]
        ]
    }
]