nodered-flows/fr5.json
[
    {
        "id": "dfe98f85f214f3d2",
        "type": "tab",
        "label": "FR5 - Join a tour",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5e1369a2446b413",
        "type": "comment",
        "z": "dfe98f85f214f3d2",
        "name": "FR5 - Join a tour",
        "info": "",
        "x": 140,
        "y": 80,
        "wires": []
    },
    {
        "id": "080a4d7cf489e36e",
        "type": "http in",
        "z": "dfe98f85f214f3d2",
        "name": "",
        "url": "/user/:userid/tour/:tourid",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "43a21243b43ae64e",
                "bc0b8f6afbad688b"
            ]
        ]
    },
    {
        "id": "bc0b8f6afbad688b",
        "type": "function",
        "z": "dfe98f85f214f3d2",
        "name": "Set payload",
        "func": "msg.payload = {\n      \"tourguide\": \"eb20c460-5655-4f3d-a658-f451d810a29f\",\n      \"tourId\": 123654,\n      \"sight\": 1236985,\n      \"date\": [2022, 7, 12],\n      \"time\" : 1200,\n      \"maxparticipants\": 30,\n      \"participants\": [\n        \"d2ac0d99-5169-4b46-bc2d-e796d483f12c\",\n        \"3af67f38-dc82-4984-9f16-14939e8dda4e\",\n        \"eb50d551-84be-4666-89f2-f8cf83d3fcbc\",\n        \"d63fe04d-05de-4ade-88a1-49b9b486ad97\"\n      ]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "ab1b03d5dc8d6361"
            ]
        ]
    },
    {
        "id": "43a21243b43ae64e",
        "type": "debug",
        "z": "dfe98f85f214f3d2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "15c7b940805e3cf0",
        "type": "http response",
        "z": "dfe98f85f214f3d2",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f68a48a5613107c",
        "type": "inject",
        "z": "dfe98f85f214f3d2",
        "name": "joinTour",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "71bb6e4800201d8f"
            ]
        ]
    },
    {
        "id": "71bb6e4800201d8f",
        "type": "http request",
        "z": "dfe98f85f214f3d2",
        "name": "join tour",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:1880/user/5d3ba6cf-740e-404f-8301-22ee55830610/tour/1236598",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 360,
        "y": 320,
        "wires": [
            [
                "1ffdc3b61070d433"
            ]
        ]
    },
    {
        "id": "1ffdc3b61070d433",
        "type": "debug",
        "z": "dfe98f85f214f3d2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab1b03d5dc8d6361",
        "type": "change",
        "z": "dfe98f85f214f3d2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"access-control-allow-credentials\":true,\"access-control-allow-headers\":\"X-Requested-With,Content-Type,Accept,Origin\",\"access-control-allow-methods\":\"*\",\"access-control-allow-origin\":\"*\",\"cache-control\":\"no-cache\",\"content-encoding\":\"gzip\",\"content-length\":183,\"content-type\":\"application/json;charset=utf-8\",\"date\":\" Fri,03 Jun 2022 18:21:55 GMT\",\"etag\":\"W/\\\"b7-c7ZB8cHfUmuRRz0YD9ycVGTKxmc\\\"\",\"expires\":-1,\"status\":\"200 OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "15c7b940805e3cf0"
            ]
        ]
    }
]