nodered-flows/fr6.json
[
    {
        "id": "57870d771583f7b6",
        "type": "tab",
        "label": "FR6 - Leave a tour",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7c5817880f30917",
        "type": "comment",
        "z": "57870d771583f7b6",
        "name": "FR6 - Leave a tour",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "37796a30c447bc19",
        "type": "http in",
        "z": "57870d771583f7b6",
        "name": "",
        "url": "/user/:userid/tour/:tourid",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "ebf8ddb0b6aff5d5",
                "9bed8dc091999e88"
            ]
        ]
    },
    {
        "id": "9bed8dc091999e88",
        "type": "debug",
        "z": "57870d771583f7b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "ebf8ddb0b6aff5d5",
        "type": "function",
        "z": "57870d771583f7b6",
        "name": "Set payload",
        "func": "msg.payload = {\n    \"user-id\": msg.req.params.userid,\n    \"tour-id\": msg.req.params.tourid\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "be97aeeb3917acdd"
            ]
        ]
    },
    {
        "id": "7462c6da5dbd7bae",
        "type": "http response",
        "z": "57870d771583f7b6",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "b486ec536757e9b4",
        "type": "inject",
        "z": "57870d771583f7b6",
        "name": "leaveTour",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "09ab1f28a58b736d"
            ]
        ]
    },
    {
        "id": "09ab1f28a58b736d",
        "type": "http request",
        "z": "57870d771583f7b6",
        "name": "leave tour",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "localhost:1880/user/5d3ba6cf-740e-404f-8301-22ee55830610/tour/1239587",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "219cf28f1c30645a"
            ]
        ]
    },
    {
        "id": "219cf28f1c30645a",
        "type": "debug",
        "z": "57870d771583f7b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "be97aeeb3917acdd",
        "type": "change",
        "z": "57870d771583f7b6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"access-control-allow-credentials\":true,\"access-control-allow-headers\":\"X-Requested-With,Content-Type,Accept,Origin\",\"access-control-allow-methods\":\"*\",\"access-control-allow-origin\":\"*\",\"cache-control\":\"no-cache\",\"content-encoding\":\"gzip\",\"content-length\":24,\"content-type\":\"application/json;charset=utf-8\",\"date\":\"Fri,03 Jun 2022 18:28:18 GMT\",\"etag\":\"W/\\\"18-75CQH/5S+GSVjQZ7v4lQdeZ7cQQ\\\"\",\"expires\":-1,\"status\":\"200 OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "7462c6da5dbd7bae"
            ]
        ]
    }
]