nodered-flows/fr9.json
[
    {
        "id": "971089c501ab09db",
        "type": "tab",
        "label": "FR9 - Create a tour",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b6d6fcb6b02019e",
        "type": "http in",
        "z": "971089c501ab09db",
        "name": "",
        "url": "/tourguide/:tourguideId/tour",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "ecbcdd68d4e44034",
                "b8ecb4190daeca02"
            ]
        ]
    },
    {
        "id": "ecbcdd68d4e44034",
        "type": "function",
        "z": "971089c501ab09db",
        "name": "",
        "func": "msg.payload = msg.payload.tourId\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "f6e2026deacc0ca8"
            ]
        ]
    },
    {
        "id": "e9102d1b35ab9f03",
        "type": "http response",
        "z": "971089c501ab09db",
        "name": "get user tour list",
        "statusCode": "200",
        "headers": {},
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "205ccff97cab91bc",
        "type": "inject",
        "z": "971089c501ab09db",
        "name": "createTour",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"sightID\":12,\"date\":[2022,6,12],\"maxparticipants\":20,\"participants\":[\"5d3ba6cf-740e-404f-8301-22ee55830610\",\"37b82f89-20b4-41fb-8bac-5db02a37190e0\"],\"fromTime\":1230,\"toTime\":1315,\"tourId\":1234,\"tourguideID\":\"5d3ba6cf-740e-404f-8301-22ee55830610\"}",
        "payloadType": "json",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "59f239ea24ef915e"
            ]
        ]
    },
    {
        "id": "59f239ea24ef915e",
        "type": "http request",
        "z": "971089c501ab09db",
        "name": "Create a tour",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "localhost:1880/tourguide/5d3ba6cf-740e-404f-8301-22ee55830610/tour",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "5b583f1d9a2c9a60"
            ]
        ]
    },
    {
        "id": "5b583f1d9a2c9a60",
        "type": "debug",
        "z": "971089c501ab09db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "b6314be4d929a421",
        "type": "comment",
        "z": "971089c501ab09db",
        "name": "FR9 - Create a tour",
        "info": "",
        "x": 130,
        "y": 80,
        "wires": []
    },
    {
        "id": "b8ecb4190daeca02",
        "type": "debug",
        "z": "971089c501ab09db",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "f6e2026deacc0ca8",
        "type": "change",
        "z": "971089c501ab09db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"access-control-allow-credentials\":true,\"access-control-allow-headers\":\"X-Requested-With,Content-Type,Accept,Origin\",\"access-control-allow-methods\":\"*\",\"access-control-allow-origin\":\"*\",\"cache-control\":\"no-cache\",\"content-encoding\":\"gzip\",\"content-length\":183,\"content-type\":\"application/json;charset=utf-8\",\"date\":\"Fri,03 Jun 2022 18:34:22 GMT\",\"etag\":\"W/\\\"b7-c7ZB8cHfUmuRRz0YD9ycVGTKxmc\\\"\",\"expires\":-1,\"status\":\"200 OK\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "e9102d1b35ab9f03"
            ]
        ]
    }
]